.btn-form{
    width:100%;
}

.login-form{
    width: 340px;
    background-color: rgba(#ffffff, .8);
    padding: 2rem;
}

.login-form-forgot{
    float: right;
}

.login-form-button{
    width: 100%;
}