.password-recover-block{
    display: flex;
    justify-content: center;
    align-items:center; 

    height: calc(100vh - 65.8px);
    background-image: url("../../assets/images/education.jpg");
    background-size: cover;
    background-position: center;
}