.password-forget{
    .forget-text{
        text-align: center;
    }
    max-width: 30rem;
    background-color: rgba(#ffffff, .6);
    padding: 1rem;
    margin: 0 auto;
} 
.forget-result{
    background-color: rgba(#ffffff, .6);
}
